<html>
<body>
    <style>
     body{
         background-image: url("./../img/background1.png");
         background-repeat: no-repeat;
         background-size: auto;
         background-size:cover;
     }
    </style>

<div class="container">
    <div class="row mt-5 justify-content-center align-self-center">
        
           
        <div class="col-md-6 mx-auto align-self-center">
            <br> <br> <br><br> <br> <br><br> <br> <br><br> <br> <br>
            <a class="btn btn-lg shadow bg-white text-white p-3 pr-8 rounded font-weight-light w-120" img src="./../img/GmailLogo.jpg"style="background-color: #3090C7 !important;"
                href="{{authUrl}}">
                <i class="fab fa-google mx-3 d-inline-block"></i> Click here to upload an Image to Google drive!
            </a>
        </div>
    </div>
</div>
</body>
</html>